name: Update README.md
on:
  workflow_call:
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

jobs:
  update-readme:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}
          repositories: >-
            [
              "${{github.event.repository.name}}"
            ]
          permissions: >-
            {
              "contents": "write"
            }

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        # Install ghcp
        with:
          aqua_version: v2.56.6
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: ghcp -v
        env:
          GITHUB_TOKEN: ${{github.token}}

      - run: cat docs/HEADER.md docs/LIST.md docs/FOOTER.md > README.md

      - run: |
          if git diff --exit-code README.md; then
            exit 0
          fi

          branch=${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}
          if [ -z "$branch" ]; then
            echo "::error ::branch is empty"
            exit 1
          fi
          ghcp commit \
            -r "$GITHUB_REPOSITORY" \
            -m "docs: update README.md" \
            -b "$branch" \
            README.md
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
