name: Update README.md
on:
  workflow_call:
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}

      - uses: aquaproj/aqua-installer@928a2ee4243a9ee8312d80dc8cbaca88fb602a91 # v2.2.0
        # Install ghcp
        with:
          aqua_version: v2.21.0
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: ghcp -v
        env:
          GITHUB_TOKEN: ${{github.token}}

      - run: cat docs/HEADER.md docs/LIST.md docs/FOOTER.md > README.md

      - run: |
          if git diff --exit-code README.md; then
            exit 0
          fi

          branch=${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}
          if [ -z "$branch" ]; then
            echo "::error ::branch is empty"
            exit 1
          fi
          ghcp commit \
            -r "$GITHUB_REPOSITORY" \
            -m "docs: update README.md" \
            -b "$branch" \
            README.md
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
